h1, h2, p {
  color: red;
}

.btn {
  background-color: blue;
  color: white;
   font-weight: 30px;
  size: 100vh;
  height: 50px;
}

.input {
  width: 600px;
   font-weight: 30px;
  size: 100vh;
  height: 50px;
}

.table {
  font-weight: 30px;
  size: 100vh;
  height: 50px;
}
